.middle-section {
  grid-row: 2 / span 1;
  border-left: $border;
  border-right: $border;
  padding: 0 $single-space;
}
.up-section {
  border-bottom: $border;
  padding-bottom: $single-space;
  .up-section__img {
    width: 100%;
    margin-bottom: $single-space;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .up-section__title {
    margin-bottom: $single-space;
  }
  .up-section__description {
    font-style: italic;
  }
}
.center-section {
  border-bottom: $border;
  padding: $doble-space 0;
  &__title {
    margin-bottom: $single-space;
    font-style: italic;
  }
  &__paragraph {
    column-count: 4;
    column-gap: $single-space;
    text-align: center;
    &-title {
      padding: $doble-space 0;
      // border-top: $border;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        border-top: $border;
      }
    }
    &-text {
      text-align: justify;
    }
  }
}
.down-section {
  padding: $doble-space 0;
  position: relative;
  &__title {
    font-style: italic;
  }
  &__content {
    display: flex;
    margin-top: $doble-space;
  }
  &__paragraph {
    width: 40%;
    padding-right: $single-space;
  }
  &__img {
    width: 60%;
    img {
      width: 100%;
    }
  }
  &__comment {
    text-align: center;
    float: left;
    margin-top: 20em;
    margin-right: $doble-space;
    margin-bottom: $single-space;
    shape-outside: border-box;
    shape-margin: $single-space;
    border-bottom: $border;
  }
}
